@charset "UTF-8";
/* Scss Document */
/* Scss Document */
/* Scss Document */
/* CSS Document */
@font-face {
  font-family: 'rubix';
  src: url("../font/rubix.eot");
  src: url("../font/rubix.eot") format("embedded-opentype"), url("../font/rubix.eot") format("woff2"), url("../font/rubix.woff") format("woff"), url("../font/rubix.ttf") format("truetype"), url("../font/rubix.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Lato !important; }

p {
  margin: 0px;
  padding: 0px; }

button {
  outline: none !important; }

ul {
  text-decoration: none; }

.ss-mob {
  display: none !important; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "rubix";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-money:before {
  content: '\e800'; }

/* '' */
.icon-skype:before {
  content: '\f30b'; }

/* '' */
/*<#======================================   Index Page Css    =============================================>*/
/*<#===Header CSS===#>*/
.my-nav {
  height: 79px;
  background: #273135;
  padding: 0; }

.push-btn {
  font-size: 45px;
  color: #fff; }

.push-btn-sidebar {
  display: flex !important;
  height: 100%;
  line-height: normal;
  align-items: center; }
  .push-btn-sidebar a {
    padding: 0 !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .85em;
    margin-right: .85em; }

.push-btn-sidebar:hover {
  background: #17ce90 !important; }

.li-mn-cont {
  display: flex !important;
  height: 100%;
  line-height: normal;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 25px !important; }

.ss-r-btn-cont {
  display: flex !important;
  height: 100%;
  line-height: normal;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative; }

.ss-r-btn-cont:nth-child(2) {
  border-left: 1px solid #455457;
  border-right: 1px solid #455457; }

.ss-nav-ul {
  margin: -0.08em -.5rem; }
  .ss-nav-ul li {
    border-radius: 0px !important;
    background: #279957 !important; }
    .ss-nav-ul li a {
      border-radius: 0px !important;
      color: #273135 !important; }
  .ss-nav-ul li .active {
    background: #1e732a !important;
    color: #17ce90 !important; }

.ss-r-btn-txt {
  color: #17ce90;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  bottom: 5px;
  left: auto;
  right: auto; }

.ss-power-btn-cont {
  display: flex !important;
  height: 100%;
  line-height: normal;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #17ce90;
  color: #fff; }

.ss-power-btn {
  font-size: 45px;
  color: #fff;
  background: transparent;
  border: none;
  outline: none;
  padding-left: 20px;
  padding-right: 20px; }

.ss-r-btn {
  font-size: 25px;
  color: #89949b;
  background: transparent;
  border: none;
  outline: none;
  padding-left: 25px;
  padding-right: 25px;
  position: relative; }

.menu-bd {
  position: absolute;
  background: #ffc497;
  color: #ab4f45;
  font-size: 10px;
  top: -5px; }

.ss-schl-nm {
  font-weight: 800;
  font-size: 18px;
  color: #fff;
  margin-bottom: 0.3em; }

.ss-acct-id {
  font-weight: 800;
  font-size: 16px;
  color: #17ce90; }

.my-ul {
  display: flex;
  align-items: center;
  height: 100%; }

.my-link {
  background: #17ce90;
  padding-top: .8em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative; }

.prof-cont {
  width: 70%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin-top: -5px; }

.prof-name {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0.2em; }

.progress {
  width: 80%;
  background: #305a29;
  margin-bottom: 0.3em; }

.edit-profile {
  align-self: center;
  margin: auto;
  margin-top: 0.2em;
  margin-left: 30px;
  color: steelblue; }

.ss-lock {
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  margin-bottom: -20px; }

.prof-name-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%; }

.ss-prof-image {
  max-height: 42px !important;
  margin-left: .5em !important;
  margin-right: .5em !important; }

.ss-row {
  padding: 5px 25px; }
  .ss-row .col-12 {
    background: #fff;
    width: 100%;
    height: auto;
    padding: 5px 10px; }

.ss-row-2 {
  padding: 5px 25px; }

li.breadcrumb-item {
  color: #17ce90 !important; }
  li.breadcrumb-item a {
    color: #17ce90 !important; }
  li.breadcrumb-item a:hover {
    color: #305a29 !important; }

li.breadcrumb-item:hover {
  color: #305a29 !important; }

.ss-li-head {
  font-weight: 300 !important; }

.ss-wrapper {
  background: #e9f0f5; }

.ss-card-main {
  width: 100%;
  border-radius: 10px !important; }

.ss-card-header {
  background: #17ce90 !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important; }

.fg-green {
  color: #17ce90 !important; }

.ss-curve-btn {
  border-radius: 50px !important; }

.ss-info-bg {
  background: #69c3d1 !important; }

.drop-men-1 {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 350px;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: all 1s ease-in;
  z-index: 1100;
  top: 78px;
  left: auto;
  right: 0px;
  border-top: 5px solid #2EB398; }

.drop-men-1:after {
  top: -14px;
  right: 25px;
  content: '';
  position: absolute;
  display: inline-block;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #2EB398; }

#current-year:hover .drop-men-1 {
  display: block;
  opacity: 1;
  transition: all 1s ease-in; }

.drop-men-2 {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 300px;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: all 1s ease-in;
  z-index: 1100;
  top: 78px;
  left: auto;
  right: 0px;
  border-top: 5px solid #2EB398; }

.drop-men-2:after {
  top: -14px;
  right: 25px;
  content: '';
  position: absolute;
  display: inline-block;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #2EB398; }

#sms-count:hover .drop-men-2 {
  display: block;
  opacity: 1;
  transition: all 1s ease-in; }

/*<#================== List Page Css =====================>*/
#nv-sm-1 a:nth-child(1), #nv-sm-2 a:nth-child(1), #nv-sm-3 a:nth-child(1) {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px; }
#nv-sm-1 a:last-child, #nv-sm-2 a:last-child, #nv-sm-3 a:last-child {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px; }
#nv-sm-1 a, #nv-sm-2 a, #nv-sm-3 a {
  color: #43b25c; }
#nv-sm-1 a:hover, #nv-sm-2 a:hover, #nv-sm-3 a:hover {
  color: #fff; }
#nv-sm-1 .nav-link, #nv-sm-2 .nav-link, #nv-sm-3 .nav-link {
  border: 1px solid #43b25c !important; }
#nv-sm-1 a.active, #nv-sm-2 a.active, #nv-sm-3 a.active {
  background: #43b25c !important;
  color: #fff !important; }

.css-zvlnbl {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }

.ss-md-btns {
  white-space: nowrap; }

.rubix-panel.horizontal {
  width: 100.1%;
  display: table;
  table-layout: fixed; }

.panel-sm-3 {
  width: 25%; }

.rubix-panel.horizontal > div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%; }

.panel-sm-9 {
  width: 75%; }

.btn-darkgreen {
  background: #306C67;
  color: #fff;
  border-color: #306C67; }

.nav-tabs {
  border-bottom: none !important; }

.btn.btn-rounded {
  height: auto;
  line-height: 1;
  border-radius: 100px;
  padding: 15px !important;
  color: #89949B;
  border: 1px solid #89949B;
  background: #fff !important; }

.btn.btn-rounded:hover {
  background: inherit !important;
  color: inherit !important; }

.gallery-item .black-wrapper {
  top: 0;
  bottom: 0;
  opacity: 0;
  background: #000;
  left: 0;
  right: 0;
  position: absolute;
  transition: all 0.25s ease; }

.gallery-item:hover .black-wrapper {
  opacity: 0.8;
  background: #000;
  transition: all 0.25s ease;
  cursor: pointer; }

.editable-click, a.editable-click, a.editable-click:hover {
  text-decoration: none;
  border-bottom: dashed 1px #0088cc;
  color: #2eb398; }

.black-wrapper .fg-white {
  z-index: 1000; }

/*<#===Responsive Begins Here ====>*/
/* Scss Document */
/* Scss Document */
/* Scss Document */
/* Scss Document */
/* Scss Document */
/* Scss Document */
/* Scss Document */
